<div style="margin: 10px 5px 20px 10px; color: #000000">
  <div style="align-items: center; float: left; margin-top: 10px; width: 45px">
    <span><img src="/images/upvote btn.png" alt="upvotebtn" /></span>
    <span style="color: #9b9b9b"> <%= feed.votes %> </span>
    <span><img src="/images/downvote btn.png" alt="downvotebtn" /></span>
  </div>
  <div style="margin-left: 60px">
    <div style="margin-top: 5px">
      <img src="/images/user-icon.png" width="18px" alt="user-icon" />
      <span style="font-size: 12px"> <%= feed.user.name %> </span>
      <span style="color: #c2c2c2; font-size: 12px"> <%= feed.createdAt %> </span>
      <img src="/images/문화tag.png" alt="문화tag" />
    </div>
    <div style="margin: 10px 0px">
      <p style="font-size: 20px; margin: 10px 30px 0px 0px"><%= feed.title %></p>
      <p style="font-size: 14px; margin: 10px 30px 0px 0px"><%- feed.body %></p>
    </div>
  </div>
  <div style="margin-left: 60px; color: #9b9b9b">
    <img src="/images/comments.png" alt="comments" />11 comments
    <img src="/images/share.png" alt="share" />share <img src="/images/save.png" alt="save" />save
  </div>
</div>
